<!--<body background = "simple.jpg">-->
<!--onclick="alert('You have just clicked the button')"-->
<html>
    <head><title>C4 Website</title></head>
    <body>
        <h1><center><big> <span style="color:black;">Cohort 4</span></big></center></h1>
        <hr/>
        <center>
            <div style= 'width:600px;height:60px;border:4px solid #111'>
                <a href= "https://csin3.wordpress.com/"><button type="button" style='position:relative;top:20px'>Take Me Away</button></a>
            </div>
        </center>
        
    </body>
</html>